<body>
  
    <head>
        <style>
        </style>
        <title>HeyTeam Array Sort</title>
    </head>

    <body>
        <table> 

        </table>
    </body>

    <script src="main.js"></script>
</body>